## **Homework 2**

### Create a copy of the notebook to start answering the questions. Name your notebook in the format HW1_lastname_firstname.ipynb to facilitate the grading process. 

### Answer all the questions, test your code to ensure there are no errors and the results are as expected. Once you have answered all the questions, save the final copy, then go to File-> click on Download.ipynb. Once the local copy has been downloaded, submit your file on Blackboard under the corresponding assignment section. Also provide us a link to your notebook during submission. 

### **The due date of this homework is 02/12/2021 (Friday).**

### Please ensure you follow all the steps mentioned in the homework.

### All the questions have a sample input and output to help you understand the question. Please note that your programs will be tested for other sets of inputs and outputs along with the sample provided. So test your code for other inputs.

### You can submit your solutions any number of times until the deadline.

**Q1. Lets consider your data is like the below cell:** - 7 marks

**Q1-1**: Write a program that create a dataframe from the data. -1 

**Q1-2:** Select people that are psychologist or teacher and their number of cars is greater than their family size. -2

**Q1-3:** Select people who have at most 2 family members and at least 1 car. -2

**Q1-4:** Write a code that get number of unique jobs in this dataset. -2

In [ ]:
data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [3, 1, 1, 2, 2, 4, 1]}

In [ ]:

#solutions

import pandas as pd

data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [2, 1, 1, 2, 2, 4, 1]}

#Q1-1
frame = pd.DataFrame(data, columns=["name", "job", "family_size", "num_cars"])
# print(frame)

#Q1-2
print(frame[(frame["job"].isin(["psychologist", "teacher"])) & (frame["num_cars"]> frame["family_size"])])
# print(frame[((frame.job == "psychologist") | (frame.job == "teacher")) & (frame.num_cars > frame.family_size)])

# #Q1-3
print(frame[(frame['family_size']<=2) &(frame['num_cars']>=1)])
#print(frame[(frame["family_size"]<=2)&(frame["num_cars"]>=1)])

# #Q1-4
print(len(set(frame["job"])))

   name           job  family_size  num_cars
5  Lisa  psychologist            3         4
    name             job  family_size  num_cars
1  Jacob    psychologist            2         1
2    Sam  data scientist            1         1
4   Ryan    psychologist            2         2
6    Lee         teacher            2         1
4

**Q2. Lets consider you have two series like the below cell. Compute the mean of weights of each fruit.** - 3 marks

In [ ]:
import numpy as np
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

In [ ]:
#solution
weights.groupby(fruit).mean()

apple     7.333333
banana    4.750000
carrot    4.666667
dtype: float64

**Q3. Consider the below course_name array:** - 5 marks

**Q3-1**: Write a NumPy program to get the indices of the sorted elements of **course_name** array.  - 2 marks

**Q3-2:** Write numpy code to check whether each element of **course_name** array starts with "P".   - 3 marks

In [ ]:
import numpy as np
course_name = np.array(['Python', 'JS', 'examples', 'PHP', 'html'])

In [ ]:


# Q3-1
i = np.argsort(course_name)
print("Indices of the sorted elements of a given array:\n", i)

# Q3-2
print("Test if each element of the said array starts with 'P':")
r = np.char.startswith(course_name, 'P')
print(r)

Indices of the sorted elements of a given array:
 [1 3 0 2 4]
Test if each element of the said array starts with 'P':
[ True False False  True False]

**Q4. Consider the below student_id array:** - 5 marks

**Q4-1:** Reverse the **student_id** array. Print both original and reversed array.  - 2 marks

**Q4-2:** Get the 3-largest values of **student_id** array. - 3 marks

In [ ]:
import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])

In [ ]:
# Q4-1
reversed_arr = student_id[::-1] 
print("Original array", student_id, "\nReversed array", str(reversed_arr)) 

# Q4-2
sorted_index_array = np.argsort(student_id)
sorted_arr = student_id[sorted_index_array]
# print(sorted_arr)
print("3 largest values:", sorted_arr[-3 : ] )

Original array [1023 5202 6230 1671 1682 5241 4532]
Reversed array [4532 5241 1682 1671 6230 5202 1023]
3 largest values: [5202 5241 6230]

**Q5: Write a numpy program to print sum of all the multiples of 3 or 5 below 100**  - 5 marks

In [ ]:
import numpy as np
x = np.arange(1, 100)
# find  multiple of 3 or 5
n= x[(x % 3 == 0) | (x % 5 == 0)]
print(n)
print(n.sum())

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

**Q6. Consider the below array.**  - 5 marks

Q6.1. Write a code to swap column 1 with column 2.  - 2.5 marks

Q6.2. Write a code to swap row 0 with row 1. 2.5 marks

6.2 should follow 6.1 and not the original array

In [ ]:
import numpy as np

arr = np.arange(12).reshape(3,4)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [ ]:
#solution
arr= arr[:,[0,2,1,3]]
print(arr)

arr = arr [[1,0,2],:]
print(arr)

[[ 0  2  1  3]
 [ 4  6  5  7]
 [ 8 10  9 11]]
[[ 4  6  5  7]
 [ 0  2  1  3]
 [ 8 10  9 11]]